{% extends 'core/base.html' %}
{% block content%}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Project Details</h1>

    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <p class="i-color">Project Name</p>
            <i class="fas fa-suitcase fa-1x mb-3 i-color"></i>
        </div>

        <div class="col-sm-4">
            <p class="i-color">Technologies Used</p>
            <i class="fas fa-code fa-1x mb-3 i-color"></i>
        </div>

        <div class="col-sm-4">
            <p class="i-color">My Role</p>
            <i class="fas fa-pencil-alt fa-1x mb-3 i-color"></i>
        </div>
    </div>


<!--Row 1-->
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <h6>Diagnosis Configuration Tool</h6>
        </div>

        <div class="col-sm-4">
            <p class="ss-color">QT-C++, PostgreSQL</p>
        </div>

        <div class="col-sm-4">
            <p class="ss-color">The use of this tool was to generate a make-file for a selected variant of
                Traxx and this output file would be then used in configuring the LOCO of train.</p>
        </div>
    </div>

<!--    Row 2-->
     <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <h6>Holo Eye Anatomy</h6>
        </div>

        <div class="col-sm-4">
            <p class="ss-color">.Net, Unity 3d, Visual Studio</p>
        </div>

        <div class="col-sm-4">
            <p class="ss-color">This App was developed as a sample for HoloLens in collaboration with LVPEI,
                one of the reputed Eye Hospitals of India.
                Won reward and lots of Appreciation for this innovative app.
                The idea was to make medical study easy with visualization and 3d view detailing Cornea Layer of human Eye.
             </p>
        </div>
    </div>


<!--    Row 3-->
   <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <h6>Traxx Diagnosis Configuration Tool</h6>
        </div>

        <div class="col-sm-4">
            <p class="ss-color">Python, Django, Docker & Django-Rest Framework</p>
        </div>

        <div class="col-sm-4">
            <p class="ss-color">The use of this tool was to highlight the difference between two selected
                LOCO Variants for comparison, feature to Merge them and generate few output Files.
             </p>
        </div>
    </div>

    <!--    Row 4-->
   <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <h6>BBPay</h6>
        </div>

        <div class="col-sm-4">
            <p class="ss-color">Python, Django & Django-Rest Framework</p>
        </div>

        <div class="col-sm-4">
            <p class="ss-color">Worked as python developer for a money transfer web application which also provides
                services like mobile recharge, utility bill payments. App had different versions for different type of
                users like merchants, vendors, Admins etc.
             </p>
        </div>
    </div>

</div>
{% endblock content%}